* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #222222;
  margin: 0px;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
  width: 100%;
  padding: 0px 12px 12px 12px;
  text-align: center;
}

.outer {
  /* To change the background color of the modal, change the rgba configuration.  The last parameter (0.8) configures the opacity. */
  background-color: rgba(0,0,0,0.8);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.modal {
  display: block;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  max-width: 85%;
  height: 70%;
  width: 40rem;
  z-index: 999;
}

.top-container {
  background-size: cover;
  width: 100%;
  padding: 22px;
}

.header {
  letter-spacing: -0.02em;
  font-size: 20px;
  font-weight: 300;
}

.button-close {
  position: absolute;
  z-index: 99;
  right: 12px;
  top: 12px;
}


.message {
  font-size: 14px;
  font-weight: 300;
}

.bottom-container {
  background-color: #FFFFFF;
  overflow: hidden;
  width: 100%;
  padding: 0px 22px 22px 22px;
}

.slide-count {
  font-size: 12px;
  color: #535353;
  font-weight: 300;
}

.button-prev {
  background-color: white;
  color: #e7615c;
  height: 100%;
  float: left;
  width: 47%;
  padding: 0.5rem 0;
}

.button-next {
  background-color: white;
  color: #e7615c;
  width: 47%;
  float: right;
  height: 100%;
  padding: 0.5rem 0;
}

.button-prev a, .button-next a{
  display: table;
  height: 100%;
  width: 100%;
  color: #e7615c;
}

.button-prev p, .button-next p {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.slick-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slick-list, .slick-track {
  height: 100%;
}

.slick-slide .top-container {
  height: 40%;
}

.slick-slide.first .top-container,
.slick-slide.second .top-container,
.slick-slide.third .top-container {
  background: url('placeholder.jpg') center center no-repeat #fbf9f9;
}

.slick-slide .bottom-container {
  height: 60%;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  bottom: 10px;
}

/* Smaller Devices (iPhone 5, etc) */
@media only screen and (max-device-width: 568px) {
  .message {
    font-size: 13px;
    line-height: 15px;
  }
}

/* Tablets (iPads, etc) */
@media only screen and (min-device-width: 768px) {
  .modal {
    width: 45%;
    height: 50%;
  }
}

/* Landscape */
@media only screen and (orientation: landscape) {
  footer {

  }

  .modal {
    height: 88%;
  }

  .header {
    margin: 10px;
  }

  .button-left {
    width: 49%;
  }

  .button-right {
    width: 49%;
  }

  .slick-container {
    height: 86%;
  }

  .slick-dots {
    bottom: 6px;
  }
}

/* Landscape for Smaller Devices */
@media only screen and (max-device-width: 568px) and (orientation: landscape) {
  .header {
    margin: 3px;
  }
}

/* Landscape for Tablets  */
@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  .modal {
    height: 60%;
  }
}
